/*====== All Custom Variable Interduce Here ======*/
$light-yellow:                    #FFF59D ;
$twitter:                         #52AEFF;
$facebook:                        #3B5998;
$google:                          #F13A30;
$pinterest:                       #d32f2f;
$instagram:                       #8d6e63;
$rss:                             #ff9800;
$tumblr:                          #607d8b;
$linkedin:                        #4875B4;
$dribbble:                        #f06292;
$youtube:                         #d50000;
$github:                          #424242;
$skype:                           #4fc3f7;
$lightgray:                       #F4F7FA;  
$lightgreen:                      #249c29;
$darkorange:                      #F9672D;
$darakwhite:                      #dfdfdf;
$darkblue:                        #0667d0;
$lightborder:                     #f7f7f7;



$colors: () !default;
$colors: map-merge((
  "light-yellow":       $light-yellow,
  "twitter":            $twitter,
  "facebook":           $facebook,
  "google":             $google,
  "pinterest":          $pinterest,
  "instagram":          $instagram,
  "rss":                $rss,
  "tumblr":             $tumblr,
  "linkedin":           $linkedin,
  "dribbble":           $dribbble,
  "youtube":            $youtube,
  "github":             $github,
  "skype":              $skype,
), $colors);

$light-yellow:                         $light-yellow;
$twitter:                              $twitter;
$facebook:                             $facebook;
$google:                               $google;
$pinterest:                            $pinterest;
$instagram:                            $instagram;
$rss:                                  $rss;
$tumblr:                               $tumblr;  
$linkedin:                             $linkedin;
$dribbble:                             $dribbble;
$youtube:                              $youtube;
$github:                               $github;
$skype:                                $skype;

$theme-colors: () !default;
$theme-colors: map-merge((
  "light-yellow":    $light-yellow,
  "twitter":         $twitter,
  "facebook":        $facebook,
  "google":          $google,
  "pinterest":       $pinterest,
  "instagram":       $instagram,
  "rss":             $rss,
  "tumblr":          $tumblr,
  "linkedin":        $linkedin,
  "dribbble":        $dribbble,
  "youtube":         $youtube,
  "github":          $github,   
  "skype":           $skype    
), $theme-colors);

// html font
$html-font-size:                  16px;

// Block Settings
$block-bg:                       $white;
$block-border-radius:            5px;
$block-border:                   none;
$block-spacing:                  1.25rem 1.25rem; //20px 20px;
$block-shadow:                   0 1px 15px 1px rgba(69,65,78,0.08);
$block-hover-shadow:             0 1px 15px 1px rgba(69,65,78,0.08);
$block-margin-bottom:            $grid-gutter-width; //24px
$block-transition:               all 0.4s ease-in-out 0s;

$block-title-color:              $gray-900;
$block-title-spacing:            0.9375rem 1.25rem; //15px 20px;
$block-title-font-size:          1rem; //16px
$block-title-font-weight:        500;
$block-title-transform:          capitalize;

$block-contextual-color:         $gray-600;
$block-contextual-font-size:     1rem;

$block-footer-border-width:      1px;
$block-footer-border-color:      $gray-300;

//Breadcrumb Variable
$breadcrumb-font-size:            1.875rem; //30px;
$breadcrumb-font-color:           $gray-900;

// Dark theme
$dark-bg:                         #2c3644;
$dark-bg-color:                   #fff;
$dark-bg-container:               #303030;
$dark-border-color:               rgba(0, 0, 0, 0.1);
$dark-placeholder:                #303030;
$dark-secondary-bg:               #434f5a;

// Input Fields
$input-lg-height:                 52px;
$input-radius:                    40px;

// Gradient Theme Color
$sidebar-dark-gradient:           linear-gradient(0deg, #464D69 0%, rgba(70, 77, 105, 1) 100%);
$sidebar-dark:                    #2E3344;
$overlay-light:                   rgb(255,255,255);
$gradient-primary:                 linear-gradient(180deg, #5D92F4 0%, #09203F 100%); // Primary
$gradient-purple:                  linear-gradient(0deg, #F53844 0%, #42378F 100%); // Purple
$gradient-success:                 linear-gradient(180deg, #00D0BD 0%, #007ADF 100%); // Success
$gradient-warning:                 linear-gradient(0deg, #B02E0C 0%, #FFB70F 100%); // warning
$gradient-danger:                  linear-gradient(0deg, #B02E0C 0%, #FFB70F 100%);// danger


// Navbar Varibale
$navbar-height:                   4rem; //80px;
$navbar-bg:                       $white;
$hamburger-icon-color:            $gray-600;
$navbar-icon-height:              35px;
$navbar-icon-width:               35px;
$navbar-link-color:               $white;

// Footer Variable
$footer-height:                   50px;
$footer-bg:                       $navbar-bg;
$footer-box-shadow:               none;

// Square Box
$square-font-size:                0.5; // 50% relative to the container
$square-box:                      (10, 15, 20, 30, 40, 50, 60, 70, 80, 100, 120);

// Sidebar Variable
$sidebar-width:                   16.25rem; //280px;
$sidebar-box-shadow:              none;

$sidebar-link-fontsize:           1rem; //14px
$sidebar-link-font-weight:        400;
$sidebar-link-font-color:         $gray-900;
$sidebar-link-transform:          capitalize;
$sidebar-link-spacing:            0.9375rem 2rem; //15px 40px;

$sidebar-icon-font-size:          1rem; //14px;

$sidebar-hover-bg:                rgba(0,0,0,0.22);
$sidebar-hover-color:             $white;

$sidebar-submenu-font-size:       1rem; //14px
$sidebar-submenu-font-color:      $gray-900;
$sidebar-submenu-spacing:         0.9375rem 2.5rem 0.9375rem 4.375rem;

// Mini Sidebar Variable
$mini-sidebar-width:              85px;

// Horizontal Menu sidebar Variable
$hoz-menu-bg:                     #FFFFFF;
$hoz-nav-link-color:              #464D69;
$hoz-nav-font-size:               0.875rem; //14px
$hoz-nav-link-spacing:            0.9375rem 1.563rem 0.9375rem 1.563rem; //15px 30px;
$hoz-nav-link-hover-bg:           #FAFAFA;
$hoz-menu-height:                 3.125rem; //50px;
$hoz-sub-menu-width:              15rem;
$hoz-box-shadow:                  0 2px 10px 0 rgba(204,204,204,0.5);
$hoz-sub-menu-box-shadow:         0 2px 15px 0 rgba(0,0,0,0.09);

// Social Link Variable
$social-icon-shadow:              0 0 20px 0 rgba(0,0,0,0.19);

// Weather Widget Variables
$weather-bg:                      url('../../assets/img/weather-1.png');

// boxed layout
$boxed-bg:                        url('../../assets/img/boxed-bg.png');
$dark-layout-bg:                  url('../../assets/img/dark-layout-bg.png');

// Table Varibale
$table-tbody-font-size:           14px;
$table-tbody-font-weight:         300;

//Quick link 
$dropdown-link-shadow:            0 3px 2px 0 rgba(0,0,0,0.02);
$base-light:                    #FAFAFA;

//Font Weight
$fw-semi-bold:                    500;
$fw-bold:                         700;
$fw-light:                        300;
$fw-normal:                       400;

//Custom Colors
$aqua:                          #E1EBFF;

//landing-page 
$landing-bg:                      url('../../assets/img/banner/banner-pattern.jpg');
$main-bannerbg :                  url('../../assets/img/banner.png');
$count-bannerbg:                  url('../../assets/img/count.png');
$detail-bannerbg:                 url('../../assets/img/knowmore.jpg');


//My Account
.downloadappbox{
  padding: 0px 15px 15px 15px;
}

.marginbox{
  margin-top: 10px;
}

.btn_fb_login {
  background: #3b5998;
}

.btn_glg_login {
  background: #d14836;
}

.btn_tw_login {
  background: #1DA1F2;
}

.btn_fb_login,.btn_glg_login,.btn_tw_login {
  padding: 10px;
  border: none;
  color: #ffffff;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.btn_fb_login:before {
  content: "\E741";
  background: #133783;
}

.btn_glg_login:before {
  content: "\E73E";
  background: #c61f09;
}

.btn_tw_login:before {
  content: "\E74B";
  background: #087bc2;
}

.btn_fb_login:before,.btn_glg_login:before,.btn_tw_login:before {
  font-family: 'themify';
  // speak : none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding: 8px;
  border-radius: 100%;
  margin-right: 15px;
  vertical-align: middle;
  color: #fff;
}

.lnkToBtn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background: #00D0BD linear-gradient(180deg, #25d6c6, #00D0BD) repeat-x;
    border-color: #00D0BD;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.lnkToBtn:hover {
  color: #fff;
  background: #00aa9a linear-gradient(180deg, #25b5a9, #00aa9a) repeat-x;
  border-color: #009d8f;
}

/* Added by salim dt:24-11-2018 */
/* .react-phone-number-input__country{ position: relative; }
.react-phone-number-input__icon { width: 30px; }
.react-phone-number-input__country select{ 
  width: 58%;
  position: absolute;
  top: 16px;
  left: 60px;
  border: none;
} */
.react-phone-number-input__input,
.react-phone-number-input__input--invalid,
.react-phone-number-input__input--invalid:focus{border: none !important;}
.react-phone-number-input__icon-image { top: 0; left: 0; position: absolute; }
.react-phone-number-input__icon {	position: relative; }
.react-phone-number-input__input::placeholder,
.react-phone-number-input__phone::placeholder{color: #727891 !important;opacity: 1;}
.cstm_tab span{font-size: 14px;}
.cstm_tab > span > span { padding: 0 5px;}
.tab_container{padding: 15px 0;}
.borderRadius{ border-radius: 0.78rem;}//added by Saloni Rathod



//Cooldex Lending Manish Vora
$cooldesk-bannerbg:                 url('../../assets/image/bannerimages.png');
$cooldesk-why:                      url('../../assets/image/whycoindeskbg.png');
$cooldesk-ourwebsite:               url('../../assets/image/OurWebsite.png');
$cooldesk-simplestep:               url('../../assets/image/simplestepsbg.png');

$coolblue:               #0014E4;
$pagray:                 #4472a7;
$coolgreen:              #008000;
$coolred:                #e64646;
$mobile-small: 320px;
$mobile-large: 640px;
$mobile-max:767;


//Cooldex Inner Bank transfer
$coolgradients-icon:            #184afe linear-gradient(180deg, #184afe, #59d4fc) repeat-x;

//Cooldex Active Trades

$coolactivebuy-gradient:        linear-gradient(rgba(18,184,134,.15),rgba(18,184,134,.15));
$coolactivesell-gradient:       linear-gradient(rgba(250,82,82,.15),rgba(250,82,82,.15));

//Added by salim dt-14-12-2018..
.grid_layout_area {padding: 10px; box-shadow: 5px 5px 8px 2px #ccc;}
.grid_layout_area img{max-width: 100%;}
.tp_grid_area {padding-bottom: 10px;border-bottom: 1px solid #ddd;}
.tp_grid_area .prsn_img,.list_layout_area .prsn_img{float: left; width: 50px; height: 50px;position: relative;}
.tp_grid_area .prn_name,.list_layout_area .prn_name {text-align: left;margin-left: 60px;}
.tp_grid_area .prn_name h4{ margin: 0;}
.mdl_grid_area {padding: 15px 0 25px; text-transform: uppercase;}
.ftr_grid_area {border-top: 1px solid #ddd;padding-top: 10px;}
.mdl_grid_area .return,.ftr_grid_area .copier{float: left;}
.mdl_grid_area .risk,.ftr_grid_area .watchlist_area{float: right;}
.mdl_grid_area h2 {color: #6eaf0f;font-size: 22px;margin: 0;line-height: 100%;}
.mdl_grid_area p,.ftr_grid_area .copier p {margin: 0;}
.mdl_grid_area .last{color: #bbb;}
.ftr_grid_area .copier .text{font-size: 17px;text-transform: uppercase;}
.gainer .mdl_grid_area h2,.gainer .ftr_grid_area .copier span{color: #6eaf0f;}
.looser .mdl_grid_area h2,.looser .ftr_grid_area .copier span{color: #e1191d;}
.risk-label {display: block;height: 26px;width: 26px;position: relative;text-align: center;border: solid 2px transparent;border-radius: 3px;margin-bottom: 5px;}
.risk-label.risk-1 {border-color: #1F5900;}
.risk-label.risk-2 {border-color: #378209;}
.risk-label.risk-3 {border-color: #6BA200;}
.risk-label.risk-4 {border-color: #B0CE09;}
.risk-label.risk-5 {border-color: #E9D045;}
.grid_layout_area .sprite-stats,.list_layout_area .sprite-stats {
  background-size: 350px 350px;
  background-image: url('../../assets/image/sprite-stats.png');
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: -6px;
  right: -5px;
}
.list_layout_area .sprite-stats {bottom: -10px;right: -10px;}
.sprite-stats.popular-1 { background-position: -263px -324px;}
.sprite-stats.popular-2 { background-position: -293px -234px;}
.sprite-stats.popular-3 { background-position: -293px -264px;}
.sprite-stats.popular-4 { background-position: -293px -294px;}
.sprite-stats.popular-5 { background-position: -293px -324px;}
.grid_layout_area .fa,.list_layout_area .fa {font-size: 10px;}
.watchlist_area .icon {background: #fff;padding: 7px 17px;line-height: 18px;box-shadow: 0 0 4px 1px #ccc;border-radius: 5px;color: #666;font-size: 18px;display: inline-block;margin-top: 5px;cursor: pointer;}
.watchlist_area .icon.active,.watchlist_area .icon:hover {background:#0079b9; color: #fff;}
.list_layout_area .prn_name{margin-top:12px;}
.list_layout_area .prn_name h2{margin-bottom: 5px; font-size: 16px;}
.list_layout_area .prn_name h4{font-size: 13px;}

/* Performance Chart */
// .performance_chart {padding: 0 100px; margin: 0 auto;}
.performance_chart .highcharts-color-0 {fill: #75b210; /* width: 115px;*/}
.performance_chart .highcharts-negative.highcharts-color-0 {fill: #e1191d;}
.performance_chart .highcharts-legend {display: none;}
.performance_chart .highcharts-yaxis .highcharts-axis-line {stroke-width: 1px;}
.performance_chart .highcharts-axis.highcharts-color-0 .highcharts-axis-line {stroke: rgb(204, 214, 235);}
// .highcharts-point[height="0"],.highcharts-point[height="1"] {height: 2px;}
.highcharts-point[height="1"] {height: 2px;}
.table.performance_tbl {font-size: 16px; background: #f8f8f8;border: 1px solid #ccc;}
.performance_tbl thead th { background: #fff; font-weight: bold; text-transform: uppercase;}
.performance_tbl tr {border-bottom:1px solid #ddd;}
.performance_tbl tbody tr td,.performance_tbl tbody tr th {font-size: 16px;cursor: pointer;}
.performance_tbl tr.active{ border-left: 5px solid #75b210;box-shadow: 0 2px 2px 0px #ccc;background: #ffffff;}
.performance_tbl .td-positive,.positive {color: #75b210;}
.performance_tbl .td-negative,.negative {color: #e1191d;}
.performance_tbl .td-year,.performance_tbl .td-total{font-weight: bold;}
.performance_tbl .td-total{ color: #777; }
.performance_tbl .td-year{ color: #0079b9; }
.list_layout_area table tr td,.list_layout_area table tr th{font-size: 14px;color: #000000;}

/*Search & Filter */
.search_area,.filter_area{padding: 15px 15px 20px;border-bottom: 1px solid #ccc;font-size: 16px;}
.filter_area {text-align: center;padding-right: 50px; position: relative;}
.search_icon {width: 75px;height: 75px;background: #ccc;text-align: center;float: left;}
.search_icon i {color: #fff;font-size: 50px;line-height: 75px;}
.dfl_search{margin-left: 90px; padding:11px 0 0;}
.lst_search{white-space: nowrap;overflow: hidden;}
.lst_search .sel_blue {background: #3d99da;border-color: #1e6ca4;position: relative;color: #fff;margin-right: 10px;border-radius: 4px;font-size: 14px;padding: 6px 10px 6px 10px;}
.search_area .tag-item,.search_area .lst_search .fil_tags,.search_area .see-more-tegs {color: #0079b9;cursor: pointer;border: 1px solid #d9d9d9;border-radius: 4px;font-size: 14px;padding: 6px 10px 6px 10px;display: inline-block;margin-right: 10px;}
.tag-item .i,.search_area .lst_search .fil_tags i {height: 14px; width: 14px; background-position: -58px -1958px; display: inline-block; vertical-align: middle; margin-left: 5px;}
.tlt_search{position: relative;}
.search_area .see-more-tegs {position: absolute;right: 0;background-color: #fff;border: 1px solid #d9d9d9;z-index: 1;top: 30px;box-shadow: -14px 0 0 7px #fff;margin-right: 0;}
.grid_optn {position: absolute;right: 15px;top: 18px;font-size: 25px;line-height: 100%;cursor: pointer;}
.flt_blk select {border: none;cursor: pointer;position: relative;padding-left: 5px;margin-right: 10px;}
.flt_blk span:hover select {color: #0079b9;}
.flt_blk span:before{background-image: url('../../assets/image/sprite-social.png');content: '';top: 7px;left: 0px;width: 28px;height: 25px;position: relative;display: inline-block;}
.flt_blk .profile:before {background-position: -3px -100px;}
.flt_blk .performance:before {background-position: -60px -222px;}
.flt_blk .risk:before {background-position: -90px -222px;width: 31px;}
.flt_blk .filter:before {background-position: 0 -223px;}
.flt_blk .profile:hover:before {background-position: -3px -130px;}
.flt_blk .performance:hover:before {background-position: -60px -252px;}
.flt_blk .risk:hover:before {background-position: -90px -252px;}
.flt_blk .filter:hover:before {background-position: 0 -253px;}
.flt_blk .profile select,.flt_blk .performance select,.flt_blk .filter select {width: 80px;}
.flt_blk .risk select {width: 100px;}

//Added by salim dt: 23-01-2019
#scl_ldr_lst table tbody tr td:last-child { position: relative;}
#scl_ldr_lst .wtc_list { display: none;position: absolute;top: 57px;right: 20px;background: #fff;border: 1px solid #ccc;width: 200px;font-size: 14px;z-index: 1; list-style: none;}
#scl_ldr_lst .wtc_list li {padding: 10px 15px; border-bottom: 1px solid #ccc; position: relative;}
#scl_ldr_lst .wtc_list li:hover{background: #3d99da; color: #fff;}
#scl_ldr_lst .wtc_list li.wtc_true:before{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  position: absolute;
  right: 15px;
  top:14px;
  color: #fff;
}
#scl_ldr_lst .wtc_list.active { display: block;}
#scl_ldr_lst .ldbtn {width: auto;height: auto;font-size: inherit; vertical-align: initial;}

//Added by salim dt:25-01-2019
.wtc_list ul{padding: 0; width: 200px;}
.wtc_list li {padding: 10px 15px; border-bottom: 1px solid #ccc; position: relative;}
.wtc_list li:hover{background: #3d99da; color: #fff;}
.wtc_list li.wtc_true:before{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  position: absolute;
  right: 15px;
  top:14px;
  color: #fff;
}
.modal-dialog.watch_model {max-width: 700px;width: 100%; position: relative;}
.watch_model .watch_img{ float: left; width: 30%;margin-right: 5%;}
.watch_model .watch_cnt{ float: right; width: 65%;}
.watch_model .btn_cls{
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 0;
  border: 1px solid #e0e0e0;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
}
.watch_model .modal-title{font-size: 22px;font-weight: bold;text-transform: uppercase;color: #000;letter-spacing: 1px;}
.watch_model .modal-header{ padding: 9px 15px;}
.watch_model .modal-body{ padding: 50px 15px 30px;}
.watch_model button{width: 250px;margin: 30px auto 0;text-align: center;display: inherit;font-size: 22px;}
.kyc_verify {min-height: 150px; padding : 45px 0;}
.watch_model .btn_cls {color: #0014E4;}

//Added by salim (Leader Board) dt:04/02/2019
.bln_area{padding: 15px;border: 2px solid #333;}
.ldashboard .tb_continer{padding: 25px 5px;}
.l_details{padding: 25px;border-bottom:1px solid #ccc;}
.l_info{ float: left;}
.l_action{ float: right;}
.l_img {float: left; margin-right: 25px;}
.l_binfo {display: inline-block;}
.l_action .w_area,.l_action .t_type{float: left;}
.tb_list {border-bottom: 1px solid #ccc;}
// .tb_list .rwt__tablist {margin: 0 auto; width: 50%; text-align: center;}
// .tb_list button {width: 100px; margin: 0 10px; border: none;}

.t_item {width: 16.66%; float: left;}
.t_item.ti_7 {width: 14.27%;}
.t_item.ti_8 {width: 12.50%;}
.trd_detail .t_item .tlt {font-size: 16px; display: block; position: relative; padding-left: 20px;}
.trd_detail .t_item .tlt::before { position: absolute;  content: ''; background: #ccc; width: 15px; height: 15px; top: 4px; left: 0;}
.trd_detail .t_item .amnt {font-size: 20px; font-weight: bold;}
.progress_bar {overflow: hidden; white-space: nowrap;}
.progress_bar span {display: inline-block; height: 30px; border-right: 1px solid #fff;}
.progress_bar span:nth-child(1),.trd_detail .t_item:nth-child(1) .tlt::before{background: #52bdf5;}
.progress_bar span:nth-child(2),.trd_detail .t_item:nth-child(2) .tlt::before{background: #e85d5d;}
.progress_bar span:nth-child(3),.trd_detail .t_item:nth-child(3) .tlt::before{background: #ffdd8c;}
.progress_bar span:nth-child(4),.trd_detail .t_item:nth-child(4) .tlt::before{background: #b9df7c;}
.progress_bar span:nth-child(5),.trd_detail .t_item:nth-child(5) .tlt::before{background: #a284c0;}
.progress_bar span:nth-child(6),.trd_detail .t_item:nth-child(6) .tlt::before{background: #FDA2C8;}
.progress_bar span:nth-child(7),.trd_detail .t_item:nth-child(7) .tlt::before{background: #FF9B6B;}
.progress_bar span:nth-child(8),.trd_detail .t_item:nth-child(8) .tlt::before{background: #F00F00;}
.progress_bar span:first-child {border-radius: 5px 0 0 5px;}
.progress_bar span:last-child {border-radius: 0 5px 5px 0;border-right:none;}

//added by salim dt:08/02/2019
.cstm_tbl {box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);}
.cstm_tbl th {font-weight: bold;text-align: left; padding: 10px 15px;}
.cstm_tbl td { padding: 5px 15px;}

.epd_panel .epd_tlt { background: #ccc; font-size: 16px; font-weight: bold;}
.epd_panel .epd_detail {padding: 20px; display: block; width: 100%;}
.epd_detail h4 { font-size: 16px; font-weight: bold; text-transform: uppercase; }
.epd_detail ul { list-style: inside; padding-left: 20px; font-size: 14px; margin-bottom: 20px;}
.epd_detail ul li { margin-bottom: 5px;}
.epd_detail hr { margin: 15px 0; }
.epd_detail p { color: #f00; font-size: 13px; margin: 0;}

/* Added by Salim Deraiya dt:14/03/2019 */
.jbs-session-wrapper.inner_bg{ background-image: url('../../assets/image/background.png');background-position: top -115px center;background-repeat: no-repeat;background-size: 100% auto;}
.login_screen {
  background-image: url('../../assets/image/login_bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color:#FFFFFF;
  width: 96%;
  min-height: 600px;
  box-shadow: 3px 3px 6px 0px #ccc;
  padding: 80px 18%;
  margin: 0 auto;
}
.login_screen .session-body,.register_screen .session-body{background: none !important;border-radius: 0 !important;}
// .login_screen .cmp_logo {position: absolute;top: 70px;left: 100px;}
.login_screen .cmp_logo {position: absolute;top: 35px;left: 90px;}
.login_screen h2, .login_screen a, .login_screen .signinupbtn button span,
.register_screen h2, .register_screen a, .register_screen button.cstm_tab span { color: #0014E4;}
.login_screen .coolbtn-comman,.register_screen .coolbtn-comman { border-radius: 50px; text-transform: inherit; font-size: 18px; width: 150px; }
.register_screen .coolbtn-comman { width: 200px !important; }

.register_screen{
  background-image: url('../../assets/image/Innerbg.jpg');
  background-position: top -65px center;
  background-repeat: no-repeat;
  background-size: 81% auto;
  background-color:#FFFFFF;
  position: relative;
  width: 62.5%;
  box-shadow: 3px 3px 6px 0px #ccc;
  margin: 0 auto;
  min-height: 630px;
}
.jbs-session-wrapper .session-inner-wrapper .register_screen .session-body p a { text-decoration: none; font-size: 15px; }
// .inner_bg .inner_box { width: 55%; margin: 13% auto; border: 1px solid #464D69;}
.inner_bg .inner_box { position: absolute; top: 50%; left: 50%; width: 40%; margin: 0; transform: translate( -50%,-50%);}
.inner_bg .inner_box .jbs-session-wrapper .session-inner-wrapper .session-body { border-radius: 0;}
.rmv_brd { border : none !important;}
.rmv_trnsfrm { transform: none !important;}
.myaccountinnerTab .innertabmenu i { display: none; color: #0014E4; font-size: 30px; }
.rwt__tabs #Authentication .appstepbtn { padding: 0 20px;}
.rwt__tabs #AllowedIPAddress .btn_area {padding-left: 7px;}
.StackingHistory { margin: 20px 0;}
.top-filter .btn_area {margin-top: 31px;}
.orderlist-search.top-filter .btn_area, .transaction-search.top-filter .btn_area, .deposite-search.top-filter .btn_area, .withdrawl-search.top-filter .btn_area, .tokenStacking-search.top-filter .btn_area {
  margin-top: 21px;
}
.react-phone-number-input input { color: #fff; }
.react-phone-number-input button{ background: transparent; }


//Added by Jayesh 09-01-2019
.helpcenter .jbs-block:hover{ box-shadow: 0 10px 25px 1px rgba(0, 0, 0, 0.25) !important;} 
.helpcenter .jbs-block p { color: #000000; }
.helpcenter .jbs-block-title h4 { color: #5c6ac4; font-weight: bold; }
.dark-mode .helpcenterinner .jbs-block p { color: #fff; }
.dark-mode .helpcenterinner .jbs-block-title h4 { color: #fff; font-weight: bold; }
.helpcenterinner .innertabmenu, .helpcenterinner .innertabmenu-darkmode { cursor: pointer; }
.helpcenterinner .tabformheading { font-size: 20px; padding: 10px 0; color: #000; }
.helpcenterinner .tabformcontent { font-size: 14px; color: #424242; padding: 10px; }

// Added by Kushal 12-01-2019
.social__share-count {margin-top: 3px;font-size: 12px;}
.social_share-button {cursor: pointer;}
.social_share-button:hover:not(:active) {opacity: 0.75;}