body{
    background-color:$white;
}
// Banner Start
.cooldeskbanner{
    background:$cooldesk-bannerbg;
    background-size:cover;
    padding:10px 0 50px;

    .HeaderLink{
        li{
            a{
                color:$github;
            }
        }
    }
    .Headerbtn{
        padding: 5px 0 0 0;
       li a{
            color:$white;
            padding: 10px 20px !important;
            &:hover{
                background:$coolblue;
                color:$white;
            }
        }
    }
}

.coincardlist{
    margin:50px 0 0 0;
    .card{
        border-radius:20px;
        border:none;
        padding:5px 0;
        margin:50px 0;
        box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
        ul{
            list-style:none;
            margin:0;
            li{
                display:inline-block;
                width: 33.3%;
                text-align: center;
            }
            li{
                &:last-child{
                    color:$lightgreen;
                }
            }
        }
    }
}
.cooldeskbannerbox{
    position:absolute;
    top:50%;
    h1{
        font-size:28px;
        color:$github;
    }
    p{
        font-size: 14px;
        color:$github;
        font-weight: 400;
        padding: 20px 0;
    }
    a{
        background-color:#2DE671;
        color:$white;
        padding:8px 30px;
        border-radius: 5px;
    }
}

// Slider box
.sliderbox{
    .card{
        min-height:220px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin:0 15px;
    }
    
    .coinslider{
        padding:15px 15px 0 15px;
        span{
            padding: 0 5px;
            display: inline-block;
            width: 100%;
            text-align: right;
        }
        ul{
            list-style:none;
            li{
                display: inline-block;
                text-align: left;
                img{
                    width:40px;
                    display: inline-block;
                    margin-right:20px;
                }
                p{
                    display: inline-block;
                    color:$coolblue;
                    font-size:18px;
                }
            }
        }
    }

    .coinsliderprice{
        span{
            padding: 0 15px;
            display: inline-block;
            text-align: left;
            color:$github;
            width:70%;
        }
        p{
            display: inline-block;
            color:$lightgreen;
            font-size:16px;
        }
    }
}
.sponser{
    background:$white;
    padding-bottom:50px;
    .slick-slider{
        button{
            display: none !important;
        }
    }
}


//why espay
.whyespaybg{
    background:$cooldesk-why;
    background-size:cover;
    padding:50px 0;

    .whycooltitle{
        text-align:center;
        
        span{
            display: inline-block;
            color:$github;
            font-size:34px;
            padding: 0 10px;
        }
        p{
            display: inline-block;
            color:$coolblue;
            font-size:34px;
        }
    }
    .whyespaybox{
        font-size:20px;
        text-align:center;
        padding: 20px 45px;
        margin: 0 35px;
        img{
            width:100px;
        }
        span{
            font-size:20px;
            text-align:center;
            width:100%;
            display:inline-block;
            padding:15px 0;
        }
        &:hover{
            box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
            z-index:99999;
        }
    }
    
}

//Features Box
.featuresbg{
    background:$white;

    .featurestitle{
        span{
            display:inline-block;
            color:$github;
            font-size:34px;
            padding:18px 10px;
            text-align:center;
            width:100%;
        }
    }
    .featuresbox{
        text-align:center;
        span{
            font-size:22px;
            width:100%;
            display:inline-block;
            padding:15px 0;
        }
        p{
            color:$github;
            font-size:13px;
        }
    }
}

//Our Website
.Ourmobileview{
    a{
        text-align:center;
    }
}
.ourwebsitemainbg{
    background:$white;
}
.ourwebsitebg{
    background-image:$cooldesk-ourwebsite;
    background-size:cover;
    padding:170px 0 100px;
    .ourwebsitetitle{
        text-align:center;
        span{
            font-size:34px;
            width:100%;
            display:inline-block;
            padding:15px 0;
        }
        p{
            color:$github;
            font-size:14px;
        }
    }
}
.ourwebicon{
    width:80px;
}
.ourwebiconmobile{
    width:50px;
}
.ourwebsitebox{
    span{
        font-size:20px;
        width:100%;
        display:inline-block;
        padding:0 0 0;
    }
    p{
        color:$github;
        font-size:13px;
    }
}


//Get started in three simple steps
.simplestepsbg{
    background-image:$cooldesk-simplestep;
    background-size:cover;
    padding:90px 0;
    .stepstitle{
        text-align:center;
        font-size:30px;
        width:100%;
        display:inline-block;
        padding: 50px 0;
    }
   
    .stepsbox{
        text-align:center;
        img{
            width:80px;
        }
        span{
            width: 100%;
            display: inline-block;
            font-size: 18px;
            padding: 20px 0;
        }
        a{
            background-color:#2DE671;
            color:$white;
            padding:8px 30px;
            border-radius: 5px;
        }
        
        &::before{
            position:absolute;
            content:"";
            width:60%;
            border-bottom:5px solid $coolblue;
            top:44px;
            left:70%;
        }
    }
    .laststepsbox{
        text-align:center;
        img{
            width:80px;
        }
        span{
            width: 100%;
            display: inline-block;
            font-size: 18px;
            padding: 20px 0;
        }
        
    }
}

//Testimonial
.testimonialbg{
    background-image:$cooldesk-why;
    background-size:cover;
    padding:50px 0;

    .testititle{
        font-size:30px;
        color:$github;
        text-align:center;
        margin:0 auto;
        padding:50px 0 30px;
    }
    .testimonialsbox{
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        padding: 20px 20px 30px;
        h5{
            font-size:20px;
            color:$github;
        }
        .ratingimg{
            width:120px;
        }
    }
}




//Footer 
.footerbg{
    background:#181BFF;
    padding:50px 0 20px;
    .footerlogo{
        width:150px;
    }
    .footerlist{
        span{
            color:$white;
            font-weight: 600;
            font-size:16px;
            padding: 0 0 15px;
            display: inline-block;
        }
        ul{
            padding:0;
            margin:0;
            list-style:none;
            li{
                a{
                    color:$white;
                    font-size:14px;
                    text-decoration:none;
                    font-weight: 400;
                    padding: 5px 0;
                }
            }
        }
    }

    .coprightmain{
        border-top:1px solid $white;
        padding:20px 0 0 0;
        margin-top: 30px;
        color:$white;
        span{
            font-size:18px;
        }
        ul{
            text-align:right;
            padding:0;
            margin:0;
            li{
                list-style:none;
                display:inline-block;
                padding:0 6px;
                a{
                    border:1px solid $white;
                    padding:5px;
                    border-radius:50%;
                    width:34px;
                    height:34px;
                    text-align:center;
                }
            }
        }
    }
}

@media only screen and (max-width : 767px) {
    .cooldeskbannerbox {
        position: relative;
        top:100px;
        margin:40px 0 0px;
        a{
            margin: 0 0 40px;
        }
		p{
		   padding: 10px 0;
		}
    }
    .coincardlist{
        .card{
            margin:20px 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }
    }
    .ourwebsitebg{
        padding: 20px 0 20px;
    }
    .whyespaybg{
        padding:0;
    }
    .cooldeskbanner {
        padding: 0 0 20px;
        .HeaderLink {
            ul{
                li{
                    a{
                        color:$white;
                    }
                }
            }
        }
    }
    .Ourmobileview{
        margin: 0 15px 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 20px 0 0;
        a{
            text-align:center;
        }
    }
    .stepsbox, .laststepsbox{
        &::before{
            display:none;
        }
        span{
            color:$white;
        }
    }
    .simplestepsbg{
        background-image:none;
        background: linear-gradient(to top, #1856FE , #18BBFE) !important;
        padding: 20px 0;
        .stepstitle{
            color:$white;
            padding: 0px 0;
        }
    }
    .navbar-toggler{
        background:$white;
        color:$coolblue;
        span{
            color:$coolblue;
            border-top: 2px solid $coolblue;
            border-bottom: 2px solid $coolblue;
        }
    }
    .collapse{
        position:relative;
        bottom:0px;
        width:100%;
    }
    
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1366px) {
    .simplestepsbg {
        padding:60px 0 !important;
    }
    
    
}