//My Account

//------- Added By Kevin -------------// 
.downloadappbox{
    padding: 0px 15px 15px 15px;
  }
  
  .marginbox{
    margin-top: 10px;
  }
  .social-profileprice{
    strong{
        span{
        font-weight:bolder;
        width:100%;
        display:inline-block;
        font-size:32px;
        }
    }
    span{
      font-size:100px;
      margin: -20px 0;
      display: inline-block;
      sup{
        font-size:20px;
        vertical-align: middle;
      }
    }
  }
  .pricing-main{
    font-size:50px;
  }
  .pricing-main > sup{
    font-size: 20px;
    vertical-align: middle;
  }
  .pricing-main > sub{
    font-size: 20px;
    vertical-align: middle;
  }
  .membershiptitle > h2{
    border: 2px solid blue;
    border-radius: 15px;
    padding: 15px 30px;
    display: inline-block;
    min-width: 350px;
  }

// Top Gainers & Top Losers page

.topgainersmain{
  .jbs-block {
    border:2px solid $github;
    border-radius:0px;
  }
  .toparrow{
	  background:$github;
    width:25px;
    height:25px;
    &:hover{
      background:$github;
    }
  }
  .progress{
    min-height:1.5rem;
    border-radius:0;
  }
}


// My Account Dashboard
.myaccountbox{
  text-align: center;
  width: 100%;
  padding: 10px 0;
 
  img{
    width:80px;
    height:80px;
  }
  span{
    display: inline-block;
    width:100%;
    font-size:18px;
    color:$black;
    padding:10px 0;
  }
}

// Tabmenu Css 
// .rwt__tabs[data-rwt-vertical="true"] {
//   display: flex;
// }

// .rwt__tablist:not([aria-orientation="vertical"]) {
//   border-bottom: 1px solid #ddd;
// }

.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	border-right: 1px solid #ddd;
	margin-right: 1rem;
}

.rwt__tab {
	background: transparent;
	border: 0;
	font-family: inherit;
	font-size:13px;
	padding: 1rem 0rem;
  //background:#0000B3;
  background:white;
  width:100%;
  //color: darkgray;
  color:#0000B3;
  border-left:5px solid transparent;
  border-bottom:1px solid #0000B3;
}
.rwt__tab > span{
  display: grid;
  font-size:40px;
}

.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background-color:#0014E4;
  color:$white;
  border-left:5px solid #0014E4;
  cursor: pointer;
}

.rwt__tab[aria-selected="true"] {
  position: relative;
  color:$white;
  border-left:5px solid #0014E4;
  //background:#0014E4;
  background:#0014E4;
  color:white;
  
}

.tabformtitle{
   border-bottom:1px solid  $darakwhite;
   border-top:1px solid  $darakwhite;
   padding:10px 15px;
   margin-bottom:25px;

  span{
    span{
    font-size:20px;
    padding:10px 0;
    color:$black;
    }
  }
  p{
    span{
    font-size:14px;
    color:$github;
    margin:0;
    }
  }
}
.myprofilenumber{
  span{
    font-size: 20px;
    color:$github;
    border-bottom: 1px solid $github;
    margin:30px 0 15px 0;
    display:inline-block;
  }
  p{
    font-size:18px;
    color:$github;
  }
}

.TowFactorlist-darkmode{
  // display:inline-block;
  width:100%;
  tr{
    display:inline-block;
    padding:15px 30px;
    width:100%;

    td{
      display:inline-block;
      span {
        font-size:20px;
      }
    }

    td:nth-child(3){
      padding:0 20px;
      width:65%;

      span{
        color:$white;
        font-size:14px;
        padding:0 0 20px 0;
      }
    }
    td:last-child{
      opacity:0;
    }     

  &:hover{
    background:#000;
    padding:15px 30px;
    td:last-child{
      opacity: 1;
      position: relative !important;
      right: 0;
      float: right !important;
      button{
        margin:0 10px;
        span{
            font-size:16px;
        }
      }
    }
    td:first-child{
      color:$green;
    }
  }
}
}

.TowFactorlist{
  // display:inline-block;
  width:100%;
  tr{
    display:inline-block;
    padding:15px 30px;
    width:100%;
    
    td{
      display:inline-block;
      span {
        font-size:20px;
      }
    }
    td:first-child{
      color:$coolblue;
    }
    td:nth-child(3){
      padding:0 20px;
      width:65%;

      span{
        color:$black;
        font-size:14px;
        padding:0 0 20px 0;
      }
    }
    td:last-child{
      opacity:0;
    }
    
    &:hover{
      background:#F2F2F2;
      padding:15px 30px;
      td:last-child{
        opacity: 1;
        position: relative;
        right: 0;
        float: right;
        button{
          margin:0 10px;
          span{
              font-size:16px;
          }
        }
      }
      td:first-child{
        color:$green;
      }
    }
  }
}

.innertabpanel{
  border-right:1px solid $coolblue !important;
  min-height:600px;
}
.innertabmenu{
  background: $white !important;
  color:$black;
  //border-top:1px solid $darakwhite;
}
.innertabmenu[aria-selected="true"] {
    border-left:5px solid transparent;
    border-right:1px solid $coolblue;
    border-top:1px solid $coolblue;
    border-bottom:1px solid $coolblue;
    background: $coolblue !important;
    //background:white !important;
    color:$white;
}
.innertabmenu[aria-selected="false"]:hover,
.innertabmenu:focus {
  background-color:$coolblue  !important;
  border-left:5px solid $coolblue  !important;
  color:$white;
  cursor: pointer;
  //border-radius:5px;
}

//For Forgot Confirmation Dialog
.forgotconfirmradius{
  h1{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0 0;
  }
  .jbs-block{
    border-radius:10px;
  }
  .forgotconfirmbox, .forgotconfirmboxfail {
    margin:0 auto;
    width:100%;
    text-align:center;
    position: relative;
    bottom:65px;
    
    span{
      i{
        font-weight: bold;
        line-height: 50%;
      }
    }

  span:nth-child(1){
    color:$white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    padding:32px 0 0 0;
  }
 

  }
  .forgotconfirmdetails{
    margin: -30px 0 20px 0;
    text-align:center;
  }
}

.forgotconfirmbox{
  span:nth-child(1){
    background:$primary;
  }
  
}
.forgotconfirmboxfail{
span:nth-child(1){
  background:$danger;
}
}

.myaccountTab{
  > button{
    > span:nth-child(2) {
      font-size:14px !important;
  }
  }
}
.myaccountinnerTab{
  > button{
    > span {
      font-size:14px !important;
  }
  }
}


  .Myaccountheader{
    .page-title{
      margin-bottom:3px !important;
    }
  }


.profilesection{
  padding-top: 22px;
}

.levelsection{
  margin-left:15px;
}

.levelcolor{
  span, i{
    color: #FFB70F !important;
  }
}
.darksucessmsg{
  > .alert_area{
    .alert-success{
      color: #006c0a !important;
      background: #ccf6d0 linear-gradient(180deg, #d2f6d6, #ccf6d0) repeat-x !important;
      border-color: #b8f2bd !important;
      button{
        span{
          color: #006c0a !important;
        }
      }
    }
  }
}
.appplaystore{
  > span{
    i{
      width: 20px;
      height: 20px;
      font-size: 20px;
      padding: 0 4px;
      text-align: center;
      display: inline-block;
      color:$white;
    }
  }
}

.appstepbtn{
  .dark-mode .jbs-block *{
    color:transparent !important;
  }
  button{
    span{
      span{
        svg{
            color:$coolblue !important;
            circle{
              color:$coolblue !important;
            }
        }
      }
    }
  }
}



.colleft{
  padding-left:0;
}
.colright{
  padding-right:0;
  padding-left: 6px;
  //background-color:#0000B3;
  background-color:white;
  min-height: 600px;
  border:1px solid $coolblue;
  //border-radius:5px;
}


//Mobile Responsive

@media only screen and (max-width : 767px) {
  .tabformtitlesub {
    padding: 0 0px 0 30px;
  }
  .colleft{
    padding-left:15px;
  }
  .colright{
    padding-right:15px;
  }
}

//Added By Sanjay
.riskScore_border{
    border-right: 1px solid #a9a9a9;
        h5{
          font-size: 28px;
          color: #000;
          margin: 0;
        }
        p{
          font-size: 17px;
          color: #a9a9a9;
        }
}

//pagination 

.paginationmain{
  list-style:none;
  margin:0 15px 0 !important;
  li:first-child{
    //width:30%;
    span{
      display:inline-block;
    }
    select{
      box-shadow:none;
      border-radius:0;
      margin-left:5px;
    }
  }
  li{
    display:inline-block;
  }
  .pagerecord{
    position:relative;
    top:-24px;
  }
  
}

@media only screen and (max-width : 767px) {
  .css-syu88q {
    margin:5px 3px !important;
  }
}