/*============ Trading Style ===========*/
.highcharts-credits{
  display:none;
}
.dropdownboxmenu .nav-link.active{
  color:$github !important;
}

.trading-menu{
  .nav-item{
    a{
      span{
        color:$github;
      }
    }
  }
  ul{
    li{
      a{
        color:$github;
      }
    }
  }
  .sub-menu{
    li{
      a{
        color:$github;
      }
    }
  }
}

.dropdownbox-icon, .dropdownboxmenu {
  color:$github;
}



.tradingdashboard{
  padding:5px;
  min-height:580px !important;
}
@media only screen and (max-width: 767px) {
  .tradingdashboard{
    min-height:480px !important;
  }
}

.table-responsive-design {
  display:inline-block;
  width: 100%;
  //overflow-x: auto;
  overflow: hidden;
  
  .error {
    border: 1px solid;
    border-color: red !important;
  }

  .blink_me {
    animation: blinker 5s linear 1;
  }

  @keyframes blinker {
    0% {
      background-color: green;
    }
    50% {
      background-color: $white;
    }
  }

  .blink_success {
    animation: blinkerSuccess 5s linear 1;
  }

  @keyframes blinkerSuccess {
    0% {
      color: green;
    }
    50% {
      color: $black;
    }
  }

  .blink_danger {
    animation: blinkerDanger 5s linear 1;
  }

  @keyframes blinkerDanger {
    0% {
      color: red;
    }
    50% {
      color: $black;
    }
  }

  .blink_again {
    animation: blinker1 2s linear 1;
  }

  @keyframes blinker1 {
    0% {
      /*background-color: #FFB6C1;*/
      background-color: #ededed;
    }
    50% {
      background-color: $white;
    }
  }

  table {
    thead,
    tbody {
      tr {
        &[class*="bg-"] {
          td,
          th {
            color: $black !important;
          }
        }
      }
    }

    tbody {
      tr:hover {
        // background-color:rgb(239, 239, 239);
        background-color: rgb(47, 61, 69);
        // color:$white !important;
      }
    }

    tbody {
      tr:hover {
        background-color: rgba(239, 239, 239, 0.5);
        //background-color:rgb(47, 61, 69);
      }
    }

    thead {
      background-color: $table-head-bg;
      tr {
        th {
          // background:rgba(0, 0, 0, 0.7);
          font-size: $table-tbody-font-size;
          font-weight: 500;
          color: $table-head-color;
          border-width: 1px !important;
          padding:0.40rem 0.31rem !important;
        }
      }
    }
    tbody {
      tr {
        td {
          // font-size: $table-tbody-font-size;
          font-size:12px;
          font-weight: $table-tbody-font-weight;
          padding: 0.31rem !important;
        }
      }
    }
    thead,
    tbody,
    tfoot {
      tr {
        th,
        td {
          vertical-align: middle !important;
          padding: 0.31rem !important;
        }
      }
    }
    .table-action {
      a {
        color: $gray-600;
        font-size: 14px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .table-lg {
    tr {
      td {
        padding: 0.31rem; //25px 12px;
      }
    }
  }
  .flip-scroll {
    table {
      tr {
        th {
          color: $white;
        }
      }
    }
  }
  .table-borderless {
    @include border(1px solid, $input-border-color, top bottom left right);
    thead {
      tr {
        th {
          // font-size: 1.125rem; //18px;
          font-size:12px;
          color: $gray-900;
          padding: 0.31rem; //20px 12px;
        }
      }
    }
    tbody {
      tr {
        td {
          border: none;
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .unseen table {
      td,
      th {
        &:nth-child(4),
        &:nth-child(7),
        &:nth-child(8) {
          display: none;
        }
      }
    }
  }
  @media only screen and (max-width: 991px) {
    .unseen table {
      td,
      th {
        &:nth-child(2) {
          display: none;
        }
      }
    }
    .flip-scroll * html .flip-content {
      zoom: 1;
    }
    .flip-scroll {
      table {
        display: block;
      }
      thead {
        display: block;
        float: left;
      }
      tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        tr {
          display: inline-block;
          margin-left: -5px;
          border-left: 1px solid $input-border-color;
        }
      }
      td,
      th {
        border-bottom: 1px solid $input-border-color;
        border-right: 1px solid $input-border-color;
        padding: 0.31rem;
        width: auto;
        display: block;
        text-align: right;
        &:last-child {
          border-bottom: 1px solid $input-border-color;
        }
      }
    }
  }
}

/*============ Trading Dashboard style start  ===========*/
// .TradingChartBox{
//   border: 1px solid rgba(0, 0, 0, 0.125);
// }
.marqueetitle {
  background: $darkblue;
  color: #fff;
  padding: 10px 0 3px;
}
// .placeorderstaker {
//   position: absolute;
//   right: 20px;
//   top: 17px;
// }
.myorderheader {
  background: transparent !important;
  box-shadow: none;
  border-top:1px solid #bbbcbf;
    padding:0 15px;

    button[type=button]{
      flex-grow: 0;
      min-width:auto;
      min-height:auto;
      span{
        color:$black;
        font-size:14px; 
        font-weight: bold;
      }
    }

    button[type=button].active{
      color:$lightgreen;
      border-bottom:2px solid $rss !important;
      span{
        color:$lightgreen !important;
        font-size:14px; 
      }
    }
 
}

/*Table scroll start*/
.scroll-main table.scroll {
  width: 100%;
  border-spacing: 0;
}

.scroll-main table.scroll tbody,table.scroll thead{
  display: block;
  border-bottom:none;
}
.scroll-main tabel thead tr th {
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.scroll-main table.scroll tbody {
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll-main tbody tr td, thead tr th {
  width: 263px;
  text-align: center;
  font-size: 12px;
  padding: 5px 5px;
  border-bottom: 1px solid #979797;
  color: #323232;
}
.scroll-main tbody td:last-child, thead th:last-child {
  border-right: none;
}
/*Table scroll end*/



.PairListtable {
  .material-icons {
    font-size: 18px;
    padding: 0 6px 0 0;
    vertical-align: middle;
  }
  table{
    font-family:sans-serif !important;
    position:relative;
    tr{
      line-height:1;
      th{
        font-size:14px !important;
        text-align:left;
        background:#E6E9EC;
        width: 37%;
        span{
          color: #464D69;
          font-size:14px;
        }
      }
      td{
        border-top:none;
        width: 37%;
      }
    }
  }
}

.AdvacePairListtable {
  .material-icons {
    font-size: 18px;
    padding: 0 1px 0 0;
    vertical-align: middle;
  }
  table{
    font-family:sans-serif !important;
    position:relative;
    tr{
      line-height:1;
      th{
        font-size:14px !important;
        text-align:left;
        background:#E6E9EC;
        width:28%;
        span{
          color: #464D69;
          font-size:14px;
        }
      }
      td{
        border-top:none;
        width:28%;
      }
    }
  }
}

.ordertabmenu {
  background: $lightgray !important;
  color: $github;

  button[type="button"] {
    flex-grow: 0;
    span {
      color: $black;
      font-size: 14px;
    }
  }

  button[type="button"].active {
    background: $lightgreen;
    border-bottom: 4px solid $rss !important;
    span {
      color: $white !important;
      font-size: 14px;
    }
  }
}

.btnbuy-success {
  border-radius: 0;
  background: $lightgreen;
  border: none;
  color: $white;
  span{
    color:$white !important;
    font-weight:normal !important;
  }
  &:hover {
    background:#33ab38;
    color: $white;
  }
}
.btnsell-danger {
  border-radius: 0;
  background: $darkorange;
  border: none;
  color: $white;
  span{
    color:$white !important;
    font-weight:normal !important;
  }
  &:hover {
    background:#FF763C;
    color: $white;
  }
}

.form-control {
  box-shadow: none !important;
  border: 1px solid rgb(226, 226, 226);
  background:$white;
  border-radius: 0;
}
.btnFavorite {
  border: 1px solid $rss !important;
  border-radius: 0 !important;

  &:hover {
    background: $rss !important;
    color: $white !important;
  }
}
.orderbtnsell-percentage {
  //background:$white;
  background:transparent;
  border: 1px solid $darkorange;
  color: $darkorange;
  border-radius: 0;
  padding:0px 0 0 !important;
  font-size:12px !important;
  min-height:20px !important;
  
  &:hover {
    background: $darkorange;
    color: $white;
    border: 1px solid $darkorange;
  }
}
.orderbtnbuy-percentage {
  background:transparent;
  border: 1px solid $lightgreen;
  color: $lightgreen;
  border-radius: 0;
  padding:0px 0 0 !important;
  font-size:12px !important;
  min-height:20px !important;

  &:hover {
    background: $lightgreen;
    color: $white;
    border: 1px solid $lightgreen;
  }
}

.btcbuyprice {
  color: $darkorange;
  font-weight: bold;
  a{
    font-family: 'Montserrat-Regular';
    color:$coolblue;
    i{
      span{
        font-family: 'Montserrat-Regular';
      }
    }
  }
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border-radius: 0;
}
.marketupdown {
  span {
    i {
      color: $lightgreen;
      font-size: 30px;
      font-weight: bold;
    }
  }
}
// .card,
// .header-icon {
//   border-radius: 0;
// }

@media only screen and (max-width: 767px) {
  .myorderheader li .nav-link {
    min-width: 160px;
  }
  .marketupdown h2 {
    text-align: center;
  }
}

.error {
  border: 1px solid;
  border-color: red !important;
}
.orderstab {
  background-color: #2c3644 !important;
  color: white !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
}

// Trading New Dashboard Start

.BuySellleft{
  //  .updownmarket{
  //   border-top:1px solid rgba(0, 0, 0, 0.125);
  //   border-bottom:1px solid rgba(0, 0, 0, 0.125);
  //  }
  .buysellleftupdownmarket{
    border-top:1px solid rgba(0, 0, 0, 0.125);
    border-bottom:1px solid rgba(0, 0, 0, 0.125);
    font-size:21px;
    display: inline-block;
    width: 100%;
  }
  .table-responsive-design{
    table{
      tbody{
        tr{
          border:none;
          td{
            width:30%;
          }
        }
      }
    }
  }
  table{
    tr{
      line-height:1;
      th{
        font-size:14px !important;
        text-align:left;
        background:#E6E9EC;
      }
      td{
        border-top:none;
      }
    }
  }
}
.Currentmarket-list{
	.jbs-block-content{
		padding:0.7rem 0;
	}
	p{
		margin-bottom:0;
	}
}
 
.MarketTradeHistoryTabel, .placeordermiddle{
  table{
    font-family:sans-serif !important;
    th{
      background:#E6E9EC;
    }
    td{
      border-top:none;
    }
  }
}
.MarketTradeHistoryTabel{
  // border-top: 1px solid rgba(0, 0, 0, 0.125);
  .table-responsive-design{
    h3{
      font-size:14px;
      padding: 10px 0 0;
      font-weight:bold;
    }
    > div{
      // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      font-size: 18px;
      display: inline-block;
      width: 100%;
    }
    table{
      tr{
        line-height:1;
       > th{
          background:#E6E9EC !important;
          font-size:14px !important;
          font-weight:normal;
          text-align:left;
          // width: 30%;
          color: #464D69 !important;
          span{
            color: #464D69;
          }
        }
        td{
          // width: 30%;
        }
      }
    }
  }
}

.AdvanceMarketTradeHistoryTabel{
  .table-responsive-design{
    margin:10px 0 0;
    h3{
      font-size:14px;
      padding: 10px 0 0;
      font-weight:bold;
    }
    > div{
      // border-top: 1px solid rgba(0, 0, 0, 0.125);
      // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      font-size: 18px;
      display: inline-block;
      width: 100%;
     
    }
    
    table{
      tr{
        line-height:1;
        td{
          width:20%;
        }
        th{
          background:#E6E9EC !important;
          font-size:13px !important;
          font-weight:normal;
          text-align:left;
          border:none;
          // padding:3.5px 5px;
          width:20%;
          span{
            color: #464D69;
          }
        }
      }
    }
  }
  .tradingbuysell{
    table{
      tr{
        th{
          padding:3px 5px !important;
        }
      }
    }
  }
}

  


.placeordermiddle{ 
    background: #f7f7f7 !important; 
    padding:0 0 10px;
    // border:1px solid #ededed; 
    .commnplaceorder{
      background:$white;
    }
  .placeorderheader{
    button[type=button]{
      border:1px solid rgb(230, 230, 230);
      background:$white;
      &:hover{
        background:#f7f7f7 !important;
      }
    }
  }
  .placeordertabmenu{
    background: transparent !important;
    box-shadow: none;
    z-index: 9;
    padding: 0 0px 0px !important;
    > div{
      min-height:auto;
      > div{
        background:$white;
      }
    }
    button[type=button]{
      flex-grow: 0;
      min-width:auto;
      min-height:auto;
      span{
        color:#464D69;
        font-size:14px; 
        font-weight: bold;
      }
    }
  
    button[type=button].active{
      color:$lightgreen;
      border-bottom:2px solid $rss !important;
      span{
        color:$lightgreen !important;
        font-size:14px; 
      }
    }
    label{
      margin-bottom:0;
      span{
        height: auto;
        margin: 5px 0 3px;
      }
    }
  }
  .form-group{
    label{
      font-size:13px;
    }
    .form-control{
      padding: 0 0.50rem;
      font-size: 13px;
      height: 30px;  
    }
  }
  .table-responsive-design{
    table{
      tbody{
        tr{
          td{
            width:15%;
          }
        }
      }
      thead{
        tr{
          th{
            text-align:left;
            padding:0px 10px !important;
            width:15%;
            span{
              font-size:14px;
            }
          }
        }
      }
    }
  }
  .tab-pane{
    .comminborderright{
      border-right:1px solid rgba(0, 0, 0, 0.125);
    }
  }
  .Freelink{
    > div{
      span{
        color:$coolblue !important;
      }
    }
    background:$white;
    height:34.5px;
    a{
      padding:6px 15px;
    }
  }
}

.coinlistright{
   .nav-link.active{
      color:$lightgreen;
      background-color:transparent;
      border-bottom:2px solid #ff9800;
      padding: 0 15px 5px !important;
      border-left: none;
      border-right: none;
      border-top: none;
      vertical-align: middle;
      min-height:0px !important;
  }
  .nav-link{
      background-color:transparent;
      border-bottom:2px solid $white;
      border-left: none;
      border-right: none;
      border-top: none;
  }
      
  li{
      a{
        background-color:transparent;
        border-bottom:2px solid $white;
        border-left: none;
        border-right: none;
        border-top: none;
        color:$black;
        font-weight: bold;
        min-height:0px !important;
        padding: 0 15px 5px !important;
      }
    }
}

.currentmarketbg{
  background:$white;
  margin:10px 0 15px;
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.currentmarketbox{
  // background:$white;
  // border-radius: 5px;
  // box-shadow: 0px 5px 0px #ededed;
  // padding:10px 0;
   border-right: 1px solid rgb(240, 185, 11) !important;
  padding: 10px 0 0;
  h3{
    font-size:12px;
    p, span:nth-child(2){
      font-size:12px !important;
      display:inline-block;
      padding-left:10px;
      font-weight: normal;
    }
  }
  
  p{
    margin:0;
  }
}
.pairlistradio{
  label{
    margin-left:0px;
    margin-right:0px;
    span:nth-child(1){
      width:38px;
     }
    span{
      height:auto;
     }
  }
}
.pairlistsearch{
  input{
    padding:0 0.75rem;
  }
}
// Trading New Dashboard End



// Trading 3 Dashboard Start
.dropdownboxmenu{
  .nav-link.active{
     color:$github;
     background-color:transparent;
     border-bottom:2px solid #357ce1;
     padding: 0 15px 5px !important;
     border-left: none;
     border-right: none;
     border-top: none;
     vertical-align: middle;
     min-height:0px !important;
 }
 .nav-link{
     background-color:transparent;
     border-bottom:2px solid $white;
     border-left: none;
     border-right: none;
     border-top: none;
 }
     
 li{
     a{
       background-color:transparent;
       border-bottom:2px solid $white;
       border-left: none;
       border-right: none;
       border-top: none;
       color:$black;
       font-weight: bold;
       min-height:0px !important;
       padding: 0 15px 5px !important;
     }
   }

}
.currentmarkettop{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding:5px 0 0 0;
  li{
    display: inline-block;
    padding: 0 10px;
    vertical-align: text-top;
    width:20%;
    > span{
      margin-top:8px;
    }
    span{
      display: inline-block;
    }
    p{
      font-size:14px;
      margin:0;
      font-weight:normal;
    }
    h3{
      font-size:14px;
      font-weight:bold;
    }
    strong{
      font-weight:bold;
      font-size:18px;
    }
  }
  
}

.daynightbtn{
  span{
    text-align: right;
    padding:15px 0 0;
  }
}

.tradingtabmenu{
  .PlaceOrdersheader{
    min-height: auto;
    background: #f8f9fa;
    padding: 0 0 1px;
    button{
      border:1px solid #e6e6e6;
      border-top: 0;
      span{
        span{
          padding-bottom:0px;
        }
      }
    }
  }
  header{
    background-color:transparent;
    box-shadow: none;
    z-index: 9 !important;
    div{
      min-height: auto;
      background: #f8f9fa;
      padding: 0 0 1px;
      div{
        div:last-child{
          > span{
            border-bottom:3px solid #357ce1 !important;
            display:none;
          }
        }
      }
    }
  }
  button[type=button].active{
    > span{
      font-weight:bold;
      border-bottom:3px solid #357ce1 !important;
      span{
       span{
         span{
          // border-bottom: 5px solid #357ce1 !important;
          // padding-bottom: 5px;
         }
       }
      }
    }
  }
 
  button{
    min-width:auto !important;
    min-height:auto !important;
    // border:1px solid #e6e6e6;
    
    span{
      font-weight:bold;
      font-size:14px;
      color:$github;
      border-bottom:3px solid transparent !important;
    }
  }
  .card{
    margin-bottom:0px;
  }

  .form-control{
    height:30px;
  }
}


.Advancetradingtabmenu{
  .PlaceOrdersheader{
    min-height: auto;
    background: #f8f9fa;
    padding: 0 0 1px;
  }
  header{
    background-color:transparent;
    box-shadow: none;
    div{
      min-height: auto;
      // background: #f8f9fa;
      // padding: 0 0 1px;
      div{
        div:last-child{
          > span{
            border-bottom:3px solid #357ce1 !important;
            display:none;
          }
        }
      }
    }
  }
  button[type=button].active{
    span{
      font-weight:bold;
      span{
       span{
         span{
          border-bottom: 5px solid #357ce1 !important;
          padding-bottom: 5px;
         }
       }
      }
    }
  }
  button{
    min-width:auto !important;
    min-height:auto !important;
    span{
      font-size:14px;
      color:$github;
      font-weight:bold;
    }
  }
  .card{
    margin-bottom:0px;
  }

  .form-control{
    height:30px;
  }
  .table-responsive-design{
    .openorder{
      thead{
        tr{
          th{
            width:13%;
          }
        }
      }
      tbody{
        tr{
          td{
            width:13%;
          }
        }
      }
    }
    table{
      tr{
        th{
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          width:13%;
        }
        td{
          border-top:none;
          line-height: 1;
          width:13%;
        }
      }
    }
  }
  label{
    margin-bottom:0;
    span{
      height: auto;
      margin: 5px 0 3px;
    }
  }
}

.dropdownbox-icon{
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  padding: 0.25rem;
  color:$github;
  margin:12px 0px 0;
  padding:0;
  border:none;
  &:hover{
    background:#E8F0FB;
    color:$github !important;
  }
}

.tradingheader{
  //background-color: #f8f9fa;
  background-color: $white;
  height:40px;
  border-top: 0;
  h4{
    padding:10px 5px 3px
  }
  ul{
    list-style: none;
    padding: 3px 0 0;
    margin: 4px 10px 0;
    li{
      display:inline-block;
      a.active, a:hover{
        border:1px solid #357ce1;
        border-radius:3px;
        padding:0 2px;
      }
      a{
        border:1px solid transparent;
        border-radius:3px;
        padding:2px;
        img{
          width:20px;
        }
      }
    }
  }
  Form{
    .form-group{
      margin-bottom: 0;
      padding-right:10px;
      select{
          border:none;
          margin:5px 0 0 0;
          height:25px !important;
          padding: 0 15px;
      }
    }
  }
}


.Advancetradingheader{
  background-color: #f8f9fa;
  height:40px;
  border-top: 0;
  h4{
    padding:10px 5px 3px
  }
  ul{
    list-style: none;
    padding:3px 0 0;
    margin:3px 10px 5px;
    li{
      display:inline-block;
      a.active, a:hover{
        border:1px solid #357ce1;
        border-radius:3px;
        padding:0 2px;
      }
      a{
        border:1px solid transparent;
        border-radius:3px;
        padding:2px;
        img{
          width:20px;
        }
      }
    }
  }
  Form{
    .form-group{
      margin-bottom: 0;
      padding-right:10px;
      select{
          border:none;
          margin:5px 0 0 0;
          height:25px !important;
          padding: 0 15px;
      }
    }
  }
  table{
    thead{
      tr{
        th{
          width:35%;
        }
      }
    }
    tbody{
      tr{
        line-height:1;
        td{
          width:35%;
        }
      }
    }
  }
}

.tradingbuysell{
  table{
    thead{
      background-color:transparent;
      tr{
        border-top:1px solid rgba(0, 0, 0, 0.125);
        border-bottom:1px solid rgba(0, 0, 0, 0.125);
        background: #E6E9EC !important;
        th{
          font-weight:normal;
          font-size:13px;
          text-align: left;
          padding:0px 5px !important;
        }
      }
    }
    tr{
      td,th{
        border-top:none;
        border-bottom:none;
        font-weight: 300 !important;
        font-size: 14px;
      }
    }
  }
  .updownmarket{
    margin-top:7px !important;
    margin-bottom: 7px !important;
    border-top:1px solid rgba(0, 0, 0, 0.125);
    border-bottom:1px solid rgba(0, 0, 0, 0.125);
    font-size:21px;
  }
}

.z_index_appbar{
  z-index: 1 !important;
}

.w_400{
  width:400px;
}
.placeorderright{
   border: 1px solid rgba(0, 0, 0, 0.125);
   background:$white;
   border-radius:4px;
  .tab-pane{
    .form-group{
      label{
        font-size:13px;
      }
    }
    .form-control{
      padding: 0 0.50rem;
      font-size: 13px;
      height: 30px;
    }
  }
  header{
    div{
      min-height:auto;
      background:$white;
      // padding: 0 0 1px;
    }
  }
  .freelink{
      padding:0;
    .freelinktitle{
      //background:$white;
    }
    a{
      padding:10px 10px 0;
    }
  }
  .comminborderright {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
  .tradingtabmenu{
    .card{
      border:none;
    }
  }
}
// Trading 3 Dashboard End

.Commonpagetitle{
  i{
    top: 3px;
    position: relative;

  }
  h2{
    font-size: 20px;
  }
  
}

.buysellbasic{
  min-height:530px !important;
  max-height :530px !important;
  overflow-y:hidden;
  overflow-x:hidden;
}

.plan-font{
  font-size: 13px !important;
    margin: -5px !important;
    
  .material-icons{
    font-size: 13px !important;
  }
}
.Subscrine-plan-font{
  font-size: 14px !important;
  margin: -8px !important;
  text-align: left;
.material-icons{
  font-size: 14px !important;
}
}

.slick-slider{
  // button{
  //   //background-color: #5D92F4!important;
  // }
  .slick-prev {
    height: 25px !important;
    width: 25px !important;
    background-color: #5D92F4!important;
    left : 0px !important; 
    border-radius : 25px !important;
    z-index: 1 !important;
    
  }
  .slick-next{
    height: 25px !important;
    width: 25px !important;
    background-color: #5D92F4!important;
    right : 0px !important; 
    border-radius : 25px !important;
    z-index: 1 !important;
  }
  .slick-prev, .slick-next{
    &::before{
      top: 4px;
      position: absolute;
      left: 3px;
    }
  }
}

.planCard{
  box-shadow: 8px 8px 8px gray;
}

.marginorderactiveorders{
  border: 1px solid #0014E4 !important;
  border-radius: 5px !important;

  .cooldexopenorder{
    border:none !important;
    border-radius: 5px !important;
    padding : 0px 10px !important;
    margin:11px 0 0 0 !important;
  }
  .card{
      position: relative; 
     display: flex; 
    flex-direction: column; 
     min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
}

.cooldexmargintradeHeader{
  border-bottom: 1px solid #0014e4 !important;
  margin:0px !important;
}

.cardHeight{
  .collapse.show{
    .jbs-block-content{
      min-height: 375px !important;
    }
  }
  
}

.apikeylist{
  table{
    tr{
      td{
        width: 15% !important;             
      }
      th{
        width: 15% !important;       
      }
    }  
  }

  .totalapiKeys{
    width : 80px;
    height: 80px;
    text-align: center;
    //padding: 15px;
    font-weight: bold;
    background: steelblue;
    p{
      color: rgb(236, 231, 219)
    }

    .iconplan{
      span{
        font-size: 25px !important;
        font-weight: bold;
      }
    }
    
  }
}

.iconplan{
  span{
    font-size: 25px !important;
    font-weight: bold;
  }
}

.totalapiKeys{
  width : 80px;
  height: 80px;
  text-align: center;
  //padding: 15px;
  font-weight: bold;
  //background: steelblue;
  p{
    color: rgb(236, 231, 219)
  }
  .MuiSvgIcon-root-56{
    font-weight: bold !important; 
    text-align: center !important;    
    color: rgb(236, 231, 219)
  }
  .iconplan{
    span{
      font-size: 25px !important;
      font-weight: bold;
    }
  }
  
}
.modal_header_success{
  span{
    font-size: 24px !important;
    font-weight: bold !important;
  }
  i{
    font-size: 24px;
    padding-right: 5px;
  }
}

.apikeyplantitle{
  p{
    font-size: 32px;
  //  font-weight: bold;
    margin: 0px;
  }

  span{
    font-size: 30px;
    //font-weight: bold;
    margin: 0px;
  }
}

.stopRenew{
  max-width: 760px !important;
}
@media only screen and (max-width : 767px) {
   .Subscrine-plan-font{
		font-size: 12px !important;
		margin: -8px !important;
		text-align: left;
		.material-icons{
			font-size: 12px !important;
		}
	}
  }