/*======== Horizontal Menu Layout ========*/
.LanIcon{
   // &:first-child, &:last-child{
   //    a{
   //       img{
   //          width:50px;
   //       }
   //    }
   // }
   a{
      img{
         width:25px;
         height:16px;
      }
   }
}
.app-horizontal {
   .background-img,
   ul.text-center>li:nth-of-type(3),
   .app-settings>li:nth-of-type(2) {
      display: none;
   }
   .app-header {
      .humburger {
         display: none;
      }
   }
}

.trading-menu {
   display: flex;
   background-color: $hoz-menu-bg;
   height: $hoz-menu-height;
   box-shadow: $hoz-box-shadow;
   left: 0;
   right: 0;
   z-index: 99;
   .no-arrow::after {
      display: none;
   }
   >ul {
      width: 100%;
      &.horizontal-center {
         justify-content: center;
      }
      >li {
         position: relative;
         >a {
            color: $hoz-nav-link-color;
            padding: $hoz-nav-link-spacing;
            font-size: $hoz-nav-font-size;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
               content: "\F2F9";
               font-family: 'Material-Design-Iconic-Font';
               font-size: 0.875rem;
               margin-left: 0.9375rem;
            }
            &:hover {
               background-color: $hoz-nav-link-hover-bg;
            }
            i {
               margin-right: 0.625rem; //10px;
            }
         }
         &:hover {
            .sub-menu {
               opacity: 1;
               visibility: visible;
               z-index: 99999;
            }
         }
         .sub-menu {
            position: absolute;
            left: 0;
            z-index: 99;
            background-color: $hoz-menu-bg;
            width: $hoz-sub-menu-width;
            visibility: hidden;
            opacity: 0;
            transform-origin: left 0 0;
            transition: all 0.3s ease-in-out 0s;
            box-shadow: $hoz-sub-menu-box-shadow;
            >li {
               >a {
                  &::after {
                     content: "\F2FB";
                     font-family: 'Material-Design-Iconic-Font';
                     position: absolute;
                     right: 18px;
                  }
                  &:hover {
                     background-color: $hoz-nav-link-hover-bg;
                  }
               }
            }
            li {
               position: relative;
               a {
                  &:hover {
                     background-color: $hoz-nav-link-hover-bg;
                  }
               }
               &:hover {
                  .sub-menu-child {
                     opacity: 1;
                     visibility: visible;
                  }
               }
               .sub-menu-child {
                  position: absolute;
                  width: 100%;
                  left: $hoz-sub-menu-width;
                  top: 0;
                  background-color: $hoz-menu-bg;
                  opacity: 0;
                  visibility: hidden;
                  transform-origin: left 0 0;
                  transition: all 0.3s ease-in-out 0s;
                  box-shadow: $hoz-sub-menu-box-shadow;
                  >li {
                     >a {
                        &::after {
                           content: "\F2FB";
                           font-family: 'Material-Design-Iconic-Font';
                           position: absolute;
                           right: 10px;
                        }
                        &:hover {
                           background-color: $hoz-nav-link-hover-bg;
                        }
                     }
                  }
                  li {
                     position: relative;
                     a {
                        &:hover {
                           background-color: $hoz-nav-link-hover-bg;
                        }
                     }
                     &:hover {
                        .sub-menu-sub-child {
                           opacity: 1;
                           visibility: visible;
                        }
                     }
                     .sub-menu-sub-child {
                        position: absolute;
                        width: 100%;
                        left: $hoz-sub-menu-width;
                        top: 0;
                        background-color: $hoz-menu-bg;
                        opacity: 0;
                        visibility: hidden;
                        transform-origin: left 0 0;
                        transition: all 0.3s ease-in-out 0s;
                        box-shadow: $hoz-sub-menu-box-shadow;
                     }
                  }
               }
               .deep-level {
                  width: 500px;
                  height: 350px;
                  li {
                     display: inline-block;
                     width: 32%;
                  }
               }
               a {
                  color: $hoz-nav-link-color;
                  padding: 0.8125rem 0.625rem 0.8125rem 1.563rem; //13px 10px 13px 25px;
                  font-size: $hoz-nav-font-size;
                  i {
                     margin-right: 0.625rem; //10px;
                  }
               }
            }
         }
      }
   }
}

@media(max-width: 965px) and (min-width: 320px) {
   .menu-title {
      display: none;
   }
   .trading-menu {
      >ul {
         >li {
            >a {
               font-size: 1.2rem;
            }
         }
      }
   }
}

@media (max-width: 780px) and (min-width: 320px) {
   .trading-menu {
      >ul {
         >li {
            .sub-menu {
               width: 12rem;
               li {
                  a {
                     padding: 0.8125rem 0.625rem 0.8125rem 0.563rem;
                     i {
                        display: none;
                     }
                  }
                  .sub-menu-child {
                     left: 12rem;
                  }
               }
            }
            .deep-level {
               li {
                  width: 26% !important;
                  a {
                     padding: 0.5rem !important;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 700px) and (min-width: 320px) {
   .trading-menu {
      >ul {
         >li {
            position: static;
            flex: 1 1 0;
            .sub-menu {
               width: 100%;
               transition: all 0.5s ease-in-out 0s;
               li {
                  .sub-menu-child {
                     left: 0;
                     z-index: 999;
                     position: static;
                     max-height: 0;
                     li {
                        a {
                           padding-left: 1.875rem; //30px;
                        }
                     }
                  }
                  &:hover {
                     .sub-menu-child {
                        max-height: 1500px;
                     }
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 473px) {
   .trading-menu>ul>li>a {
      padding: 1rem 0rem 0rem 0rem;
      line-height: 0;
   }
}

    .jbs-dropdown-hed {
        cursor: pointer;
        .dropdown-menu {
        background-color: $base-light;
        width: 200px;
        ul {
            background-color: transparent;
            li:not(.user-profile-top) {
                box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02);
                margin: 0.3125rem;
                a {
                    background-color: $white;
                    padding: 0.75rem 1rem;
                    display: block;
                    i {
                    font-size: 1rem;
                    }
                    span:not(.badge) {
                    color: $body-color;
                    font-size: $font-size-sm;
                    transition: color 0.3s ease;
                    }
                    &:hover {
                    span:not(.badge) {
                        color: $primary;
                    }
                    }
                }
            }
        }
        }
    }

    .loading-shading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
      }
      
      .loading-icon {
        position: absolute;
        font-size: 25px;
        top: calc(45% - 10px);
        left: calc(50% - 10px);
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
      }
      
      .filled_sell{
        background-image: linear-gradient(rgba(250,82,82,.15),rgba(250,82,82,.15));
      }
      .filled_buy{
        background-image: linear-gradient(rgba(18,184,134,.15),rgba(18,184,134,.15));
      }

      @-webkit-keyframes spin2 {
        from {
          -webkit-transform: rotate(360deg);
        }
      
        to {
          -webkit-transform: rotate(0deg);
        }
      }
      
      
      @keyframes spin {
        from {
          transform: scale(1) rotate(360deg);
        }
      
        to {
          transform: scale(1) rotate(0deg);
        }
      }

      