/***************************************************/
/* FlatPrice - Responsive Bootstrap Pricing Tables
/* Designed by : Aqsathemes
/***************************************************/

/*******************************************/
/*************  PAGE STYLING  **************/
/*******************************************/

/*****************************/
/******* Option Box  *********/

.option-box {
  position: fixed;
  top: 120px;
  left: 0;
  z-index: 9999;
  .color-option {
    float: left;
    background: #333;
    color: #fff;
    padding: 10px;
    width: 200px;
    display: none;
    .option-title {
      margin-top: 30px;
      padding: 30px 0 15px 0;
      border-top: 2px solid #fff;
      font-weight: bold;
    }
    ul li {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 3px;
      cursor: pointer;
    }
  }
  .gear-check {
    padding: 5px;
    color: #FFF;
    cursor: pointer;
    background-color: #e60024;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #reset_btn {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

/*****************************/
/********     Menu   *********/

.mynavbar {
  width: 100%;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  background-color: #34495e;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  box-shadow: 0 0 0;
  z-index: 9999;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  .navbar-nav {
    float: right;
    > li > a {
      color: #fff;
      line-height: 40px;
      font-size: 16px;
      &:hover {
        color: #FFC107;
      }
    }
  }
  .navbar-brand {
    font-size: 34px;
    line-height: 34px;
    font-weight: bold;
    color: #e54b3b;
    span {
      color: #FFC107;
    }
    &:hover {
      color: #e54b3b;
    }
  }
}

/***************************/
/********* Title ***********/

.pricing {
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #34495E;
  }
  .divider {
    i {
      color: #34495E;
    }
    &:before, &:after {
      border-top-color: #34495E;
      border-bottom-color: #34495E;
    }
  }
}

/********** Divider *********/

.divider {
  position: relative;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 80px;
  i {
    color: #fff;
  }
  &:before {
    content: "";
    height: 4px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    left: 0;
    position: absolute;
    top: 7px;
    width: 40px;
  }
  &:after {
    content: "";
    height: 4px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    right: 0;
    position: absolute;
    top: 7px;
    width: 40px;
  }
}

/*******************************************/
/*****  GENERAL PRICING TABLE STYLING ******/
/*******************************************/

.pricing {
  //padding: 50px 0;  
  background-color: #eee;
  .pricing-tab {
    margin-bottom: 30px;
    padding: 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    &:hover {
      transform: scale(1.06);
      -webkit-transform: scale(1.06);
      -moz-transform: scale(1.06);
      -o-transform: scale(1.06);
      -ms-transform: scale(1.06);
      z-index: 3;
      border: none;
      -webkit-box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.75);
    }
  }
  .pricing-active {
    position: relative;
    top: -11px;
    .price-head {
      padding-top: 36px;
    }
    .price-content {
      padding-bottom: 52px;
    }
  }
  .price-head {
    position: relative;
    background-color: #e54b3b;
    padding: 25px 0px;
    color: #fff;
    h3 {
      margin: 0;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
    }
    .price-text {
      font-size: 14px;
      padding: 0 5px;
      margin: 5px 0 20px 0;
    }
    .price-icon {
      position: absolute;
      width: 100%;
      bottom: -32px;
      top:-32px;
    }
    i {
      padding: 15px;
      border: 2px solid #fff;
      font-size: 28px;
      background-color: #e54b3b;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
    }
     i {
      padding: 15px;
      border: 2px solid #fff;
      font-size: 28px;
      background-color: #e54b3b;
      transform: rotate(45deg);
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      &::before {
        transform: rotate(315deg) !important;
        display: inline-block;
      }
    } 
    // .material-icons
    //   {
    //     padding: 15px;
    //     border: 2px solid #fff;
    //     font-size: 28px;
    //     background-color: #e54b3b;
    //     transform: rotate(45deg);
    //     border-radius: 8px;
    //     -webkit-border-radius: 8px;
    //     -moz-border-radius: 8px;
    //     &:before {
    //       transform: rotate(315deg);
    //       display: inline-block;
    //     }
    //   }    
  }

  .price-content {
    padding: 40px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  .price-head .price-label {
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    .unit {
      position: relative;
      display: inline-block;
      vertical-align: top;
      top: 11px;
      margin-right: 2px;
      font-size: 25px;
      font-weight: 600;
    }
    .number {
      font-size: 50px;
    }
    .cents {
      position: relative;
      display: inline-block;
      vertical-align: top;
      top: 9px;
      margin-right: 1px;
      font-size: 23px;
      font-weight: 500;
    }
    .delay {
      text-transform: uppercase;
      font-size: 11px;
      position: absolute;
      display: inline-block;
      margin-right: 1px;
      right: -18px;
      bottom: 13px;
      font-weight: 500;
    }
  }
  .price-content ul {
    padding: 20px 15px;
    margin: 0;
    li {
      padding: 8px 0;
      border-bottom: 1px solid #f6f6f6;
      list-style-type: none;
      font-size: 15px;
      color: #666;
    }
  }
  .submit {
    background-color: #e54b3b;
    border: 1px solid #e54b3b;
    padding: 7px 20px;
    margin-top: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    i {
      margin-right: 10px;
    }
    &:before {
      content: '';
      position: absolute;
      border: 1px solid #e54b3b;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }
  }
}

/*** Submit Button Styling ***/

/* Submit Button Animation  */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}


@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}


.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  &:hover:before, &:focus:before, &:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
  }
}

.pricing {
  .submit {
    &:hover:before, &:focus:before, &:active:before {
      -webkit-animation-name: hvr-ripple-out;
      animation-name: hvr-ripple-out;
    }
  }
  .price-color1 {
    .price-head {
      background-color: #34495e;
      i {
        background-color: #34495e;
      }
    }
    .submit {
      background-color: #34495e;
      border-color: #34495e;
      &:before {
        border-color: #34495e;
      }
    }
  }
  .price-color2 {
    .price-head {
      background-color: #16a086;
      i {
        background-color: #16a086;
      }
    }
    .submit {
      background-color: #16a086;
      border-color: #16a086;
      &:before {
        border-color: #16a086;
      }
    }
  }
  .price-color3 {
    .price-head {
      background-color: #f39c11;
      i {
        background-color: #f39c11;
      }
    }
    .submit {
      background-color: #f39c11;
      border-color: #f39c11;
      &:before {
        border-color: #f39c11;
      }
    }
  }
}

/* Default Pricing Tbale Color */

/* Reduction Styleing */

.reduction {
  font-size: 26px;
  margin-bottom: 0;
  .percent {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  del {
    color: #d20202;
    span {
      color: #fff;
    }
  }
}

/****************************************/
/************  MEDIA QUERIES ************/
/****************************************/
@media (max-width: 767px) {
  /********* Page Styling ******/
  //Comment by salim dt:11/05/2019
  /* body {
    padding-top: 50px;
  } */
  .pricing h1 {
    font-size: 24px;
  }
  .mynavbar {
    .navbar-brand {
      padding-top: 6px;
      font-size: 26px;
    }
    .navbar-nav {
      width: 100%;
      text-align: center;
    }
  }
  .navbar-default .navbar-toggle {
    border-color: #fff;
    &:focus, &:hover, .icon-bar {
      background-color: #fff;
    }
    &:hover .icon-bar, &:focus .icon-bar {
      background-color: #34495e;
    }
  }
  /**** Pricing table Styling ******/
  .pricing .pricing-tab {
    width: 90%;
    margin: 30px 5%;
  }
}

.apiPlan-pricebox .slick-slide{
  position: relative !important;
  display:inline-block !important;
}
.apiPlan-pricebox .slick-slide > div{
  padding:50px 0;
}

/******** Style 11 *********/

.style11 {
  .price-head {
  padding-top: 40px;
  padding-bottom: 0;
  margin-top: 15px;
  background-color: #fff !important;
  border: 1px solid #ddd;
  color: #34495e;
  }
  .pricing-active .price-head {
  padding-top: 71px;
  }
  .price-head {
  border-bottom-color: #ddd;
  }
  .price-icon {
  top: -32px;
  color: #fff;
  }
  .price-label {
  font-weight: bold;
  }
  .price-content {
  padding-top: 10px;
  border-top-color: #fff;
  }
  .price-color2 .price-label {
  color: #16a086;
  }
  .price-color3 .price-label {
  color: #f39c11;
  }
  .price-color4 .price-label {
  color: #e54b3b;
  }
  .price-color1.pricing-tab:hover {
  background-color: #34495e;
  }
  .price-color2.pricing-tab:hover {
  background-color: #16a086;
  }
  .price-color3.pricing-tab:hover {
  background-color: #f39c11;
  }
  .price-color4.pricing-tab:hover {
  background-color: #e54b3b;
  }
  }


  .dark-mode{
/***************************************************/
/* FlatPrice - Responsive Bootstrap Pricing Tables
/* Designed by : Aqsathemes
/***************************************************/

/*******************************************/
/*************  PAGE STYLING  **************/
/*******************************************/

/*****************************/
/******* Option Box  *********/

.option-box {
  position: fixed;
  top: 120px;
  left: 0;
  z-index: 9999;
  .color-option {
    float: left;
    background: #333;
    color: #fff;
    padding: 10px;
    width: 200px;
    display: none;
    .option-title {
      margin-top: 30px;
      padding: 30px 0 15px 0;
      border-top: 2px solid #fff;
      font-weight: bold;
    }
    ul li {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 3px;
      cursor: pointer;
    }
  }
  .gear-check {
    padding: 5px;
    color: #FFF;
    cursor: pointer;
    background-color: #e60024;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #reset_btn {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

/*****************************/
/********     Menu   *********/

.mynavbar {
  width: 100%;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  background-color: #34495e;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  box-shadow: 0 0 0;
  z-index: 9999;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  .navbar-nav {
    float: right;
    > li > a {
      color: #fff;
      line-height: 40px;
      font-size: 16px;
      &:hover {
        color: #FFC107;
      }
    }
  }
  .navbar-brand {
    font-size: 34px;
    line-height: 34px;
    font-weight: bold;
    color: #e54b3b;
    span {
      color: #FFC107;
    }
    &:hover {
      color: #e54b3b;
    }
  }
}

/***************************/
/********* Title ***********/

.pricing {
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #34495E;
  }
  .divider {
    i {
      color: #34495E;
    }
    &:before, &:after {
      border-top-color: #34495E;
      border-bottom-color: #34495E;
    }
  }
}

/********** Divider *********/

.divider {
  position: relative;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 80px;
  i {
    color: #fff;
  }
  &:before {
    content: "";
    height: 4px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    left: 0;
    position: absolute;
    top: 7px;
    width: 40px;
  }
  &:after {
    content: "";
    height: 4px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    right: 0;
    position: absolute;
    top: 7px;
    width: 40px;
  }
}

/*******************************************/
/*****  GENERAL PRICING TABLE STYLING ******/
/*******************************************/

.pricing {
  //padding: 50px 0;  
  //background-color: #eee;
  background-color: transparent !important;
  .pricing-tab {
    margin-bottom: 30px;
    padding: 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    &:hover {
      transform: scale(1.06);
      -webkit-transform: scale(1.06);
      -moz-transform: scale(1.06);
      -o-transform: scale(1.06);
      -ms-transform: scale(1.06);
      z-index: 3;
      border: none;
      -webkit-box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.75);
    }
  }
  .pricing-active {
    position: relative;
    top: -11px;
    .price-head {
      padding-top: 36px;
    }
    .price-content {
      padding-bottom: 52px;
    }
  }
  .price-head {
    position: relative;
    background-color: #e54b3b;
    padding: 25px 0px;
    color: #fff;
    h3 {
      margin: 0;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
    }
    .price-text {
      font-size: 14px;
      padding: 0 5px;
      margin: 5px 0 20px 0;
    }
    .price-icon {
      position: absolute;
      width: 100%;
      bottom: -32px;
      top:-32px;
    }
    i {
      padding: 15px;
      border: 2px solid #fff;
      font-size: 28px;
      background-color: #e54b3b;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
    }
     i {
      padding: 15px;
      border: 2px solid #fff;
      font-size: 28px;
      background-color: #e54b3b;
      transform: rotate(45deg);
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      &::before {
        transform: rotate(315deg) !important;
        display: inline-block;
      }
    } 
    // .material-icons
    //   {
    //     padding: 15px;
    //     border: 2px solid #fff;
    //     font-size: 28px;
    //     background-color: #e54b3b;
    //     transform: rotate(45deg);
    //     border-radius: 8px;
    //     -webkit-border-radius: 8px;
    //     -moz-border-radius: 8px;
    //     &:before {
    //       transform: rotate(315deg);
    //       display: inline-block;
    //     }
    //   }    
  }

  .price-content {
    padding: 40px 10px;
    border: 1px solid #ddd;
    //background-color: #fff;
    background-color: transparent !important;
  }
  .price-head .price-label {
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    .unit {
      position: relative;
      display: inline-block;
      vertical-align: top;
      top: 11px;
      margin-right: 2px;
      font-size: 25px;
      font-weight: 600;
    }
    .number {
      font-size: 50px;
    }
    .cents {
      position: relative;
      display: inline-block;
      vertical-align: top;
      top: 9px;
      margin-right: 1px;
      font-size: 23px;
      font-weight: 500;
    }
    .delay {
      text-transform: uppercase;
      font-size: 11px;
      position: absolute;
      display: inline-block;
      margin-right: 1px;
      right: -18px;
      bottom: 13px;
      font-weight: 500;
    }
  }
  .price-content ul {
    padding: 20px 15px;
    margin: 0;
    li {
      padding: 8px 0;
      border-bottom: 1px solid #f6f6f6;
      list-style-type: none;
      font-size: 15px;
      color: #666;
    }
  }
  .submit {
    background-color: #e54b3b;
    border: 1px solid #e54b3b;
    padding: 7px 20px;
    margin-top: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    i {
      margin-right: 10px;
    }
    &:before {
      content: '';
      position: absolute;
      border: 1px solid #e54b3b;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }
  }
}

/*** Submit Button Styling ***/

/* Submit Button Animation  */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}


@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}


.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  &:hover:before, &:focus:before, &:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
  }
}

.pricing {
  .submit {
    &:hover:before, &:focus:before, &:active:before {
      -webkit-animation-name: hvr-ripple-out;
      animation-name: hvr-ripple-out;
    }
  }
  .price-color1 {
    .price-head {
      background-color: #34495e;
      i {
        background-color: #34495e;
      }
    }
    .submit {
      background-color: #34495e;
      border-color: #34495e;
      &:before {
        border-color: #34495e;
      }
    }
  }
  .price-color2 {
    .price-head {
      background-color: #16a086;
      i {
        background-color: #16a086;
      }
    }
    .submit {
      background-color: #16a086;
      border-color: #16a086;
      &:before {
        border-color: #16a086;
      }
    }
  }
  .price-color3 {
    .price-head {
      background-color: #f39c11;
      i {
        background-color: #f39c11;
      }
    }
    .submit {
      background-color: #f39c11;
      border-color: #f39c11;
      &:before {
        border-color: #f39c11;
      }
    }
  }
}

/* Default Pricing Tbale Color */

/* Reduction Styleing */

.reduction {
  font-size: 26px;
  margin-bottom: 0;
  .percent {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  del {
    color: #d20202;
    span {
      color: #fff;
    }
  }
}

/****************************************/
/************  MEDIA QUERIES ************/
/****************************************/
@media (max-width: 767px) {
  /********* Page Styling ******/
  //Comment by salim dt:11/05/2019
  /* body {
    padding-top: 50px;
  } */
  .pricing h1 {
    font-size: 24px;
  }
  .mynavbar {
    .navbar-brand {
      padding-top: 6px;
      font-size: 26px;
    }
    .navbar-nav {
      width: 100%;
      text-align: center;
    }
  }
  .navbar-default .navbar-toggle {
    border-color: #fff;
    &:focus, &:hover, .icon-bar {
      background-color: #fff;
    }
    &:hover .icon-bar, &:focus .icon-bar {
      background-color: #34495e;
    }
  }
  /**** Pricing table Styling ******/
  .pricing .pricing-tab {
    width: 90%;
    margin: 30px 5%;
  }
}

.apiPlan-pricebox .slick-slide{
  position: relative !important;
  display:inline-block !important;
}
.apiPlan-pricebox .slick-slide > div{
  padding:50px 0;
}

/******** Style 11 *********/

.style11 {
  .price-head {
  padding-top: 40px;
  padding-bottom: 0;
  margin-top: 15px;
  background-color: #fff !important;
  border: 1px solid #ddd;
  color: #34495e;
  }
  .pricing-active .price-head {
  padding-top: 71px;
  }
  .price-head {
  border-bottom-color: #ddd;
  }
  .price-icon {
  top: -32px;
  color: #fff;
  }
  .price-label {
  font-weight: bold;
  }
  .price-content {
  padding-top: 10px;
  border-top-color: #fff;
  }
  .price-color2 .price-label {
  color: #16a086;
  }
  .price-color3 .price-label {
  color: #f39c11;
  }
  .price-color4 .price-label {
  color: #e54b3b;
  }
  .price-color1.pricing-tab:hover {
  background-color: #34495e;
  }
  .price-color2.pricing-tab:hover {
  background-color: #16a086;
  }
  .price-color3.pricing-tab:hover {
  background-color: #f39c11;
  }
  .price-color4.pricing-tab:hover {
  background-color: #e54b3b;
  }
  }

  }