/************************* Added by salim dt:10/05/2019 ***************************/
@media only screen and (max-width: 767px) {
    .my_profile_tab { margin: 0;}
    .colright { padding: 0;}
    .colleft { padding: 0 12px;}
    .jbs-session-wrapper.inner_bg { background-position : inherit; background-size: cover;}    
    .login_screen{ margin-top: 50px; margin-bottom: 50px; padding-left: 0px; padding-right: 0px; }
    .login_screen .cmp_logo {left: 10px;width: 170px;}
    .register_screen{ margin-top: 50px; margin-bottom: 50px; width: 90%; min-height: auto;}
    .inner_bg .inner_box{ width: 80%;}
    .lnkToBtn{line-height: 25px;}

    .myaccountTab button, .myaccountinnerTab .innertabmenu {float: left;width: 25%;}
    .myaccountTab button {min-height: 111px;}
    .my_profile_tab .colright { min-height: inherit; }
    .my_profile_tab .colleft .prsnl_col{ padding: 0 !important;}
    .myaccountinnerTab .innertabmenu span { display: none; }
    .myaccountinnerTab .innertabmenu i { display: block; }
    .innertabmenu[aria-selected="true"] {background: #2d3ffa !important; border : none;}
    .innertabmenu[aria-selected="true"] i { color : #fff; }
    .innertabmenu[aria-selected="false"]:hover, .innertabmenu:focus,.rwt__tab { border : none !important; }
    .rwt__tabpanel .btn_area {margin-left: -12px;}
    .rwt__tabpanel .scrty_note { margin-top: 25px;}
    .rwt__tabs #AllowedIPAddress .btn_area {padding-left: 12px;}
    .rwt__tabs #raiseComplain .btn_area {margin-left: 0;}    

    .step_tlt div:nth-child(2n) { display: none; }
    .step_in_tlt button { padding: 10px 0; }
    .step_in_tlt button > span { display: initial; }
    .step_in_tlt button > span > span {width: 100%; display: block; }
    .step_in_tlt button > span > span svg {width: 100%;}
    // .rwt__tabs  #IPWhitelisting .jbs-block-content { padding: 10px 0; }
    // .flt_btn_area {float: none;width: 100%;padding: 7px 13px 0;}
    // .flt_btn_area label { display: none !important; }
    // .rwt__tabs  #IPWhitelisting .top-filter .form-group {float: none; margin-right: 0;}
    // .top-filter .form-group {float: none; margin-right: 0;}
    .StackingHistory { overflow: auto;}
    .pagination_area { position: relative; margin-bottom: 10px;}
    .paginationmain .pagerecord.p_rowperpage {position: absolute;right: 20px;}
    .paginationmain .pagerecord.p_records {position: absolute;top: 0;left: 25px;}
    .paginationmain .p_no {position: relative;top: 15px;right: -30px;}
    .rwt__tabpanel .top-filter .btn_area{margin-left: 0;}

    .highcharts-container, .highcharts-root {width: 100% !important;height: 100% !important;}
    .highcharts-container { margin-bottom: 20px;}
    .performance_tbl_area,.tbl_overflow_auto { overflow: auto;}
    .performance_tbl th, .performance_tbl td {padding: 5px;}
    .highcharts-plot-background, .highcharts-plot-border { width: 70% !important; }
    .tb_list .rwt__tablist {width: 100%;}
    .tb_list button {width: 24.25%;}
    .tb_list button:last-child {margin: 0;}
    .ldashboard .tb_continer {padding: 15px;}
    .jbs-block-title, .faq-page-wrapper .panel-heading{padding-top : 0;}
    .t_item.ti_3 {width: 33.33%;}
    .t_item.ti_4 {width: 25%;}
    .t_item.ti_5 {width: 20%;}
    .t_item.ti_6 {width: 16.66%;}
    .t_item.ti_7 {width: 14.28%;}
    .t_item.ti_8 {width: 12.5%;}
    .t_item.ti_9 {width: 11.11%;}
    .srch_area {width: 245px !important;}
    .srch_area .search-wrapper{display: block !important;}
    .view_api_key_detail .totalapiKeys, .apikeylist .totalapiKeys { width: 100%; height: 100%;}
    .api_key_box { margin-bottom: 10px;}
    .StackingHistory table thead th, .performance_tbl_area table thead th,.tbl_overflow_auto table thead th {position: inherit;}
    .form-group { margin-bottom: 5px;}
    .fb_iframe_widget > span, .fb_iframe_widget iframe, .fb_iframe_widget iframe #u_0_0 ._2p3a
    { width: 100% !important; }

    .top-filter .form-group label { margin: 0; }

    .terms-conditions-rules .nest-heading, .terms-conditions-rules ol{padding: 0;}
    .terms-conditions-rules ol{list-style-position: inside;}
    .coin-list-table .unseen table td:nth-child(2), .coin-list-table .unseen table th:nth-child(2),
    .coin-list-table .unseen table td:nth-child(4), .coin-list-table .unseen table th:nth-child(4),
    .fees_list .unseen table td:nth-child(2), .fees_list .unseen table th:nth-child(2),
    .fees_list .unseen table td:nth-child(4), .fees_list .unseen table th:nth-child(4)    
    { display: table-cell; }
  }

  @media only screen and (max-width: 479px) {
    .top-filter .btn_area {margin: 0;}
    .srch_area, .srch_area .search-wrapper,.fnd_blnc_area .hide_blnc { width: 100% !important;}
    .fnd_blnc_area .rht_prt { width: 100%; padding: 8px 15px !important;}
    .api_key_step .api_plan, .api_key_step .plan_tlt { display: flex; border-bottom: 1px solid; padding: 10px; }
    .api_plan i {padding: 0 !important;}
    .api_plan p {padding: 30px 0 0 15px !important;}
    .apikeyplantitle p { margin-right: 5px; display: inline-block; }
    .api_status > div { text-align: left !important;}
    .form-group { margin-bottom: 20px; }

    .pagination_area .p_total { text-align: center; }
    .paginationmain { margin: 15px 0 30px !important; text-align: center !important; position: relative; }
    .paginationmain .pagerecord.p_rowperpage { right: 0; left: 0; top: 10px;}
    .paginationmain .pagerecord.p_records { top: -15px; left: 0; right: 0; }
    .paginationmain .p_no { top: 40px; right: 0; left: 0; }
    .cooldextrading-menu ul li .sub-menu { top: 140px; }
  }
  /************************* end by salim dt:10/05/2019 ***************************/